body{
    font-family: Arial, sans-serif;
}

.training {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.day-box {
    width: 180px;
    background-color: #3a2aa4;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

.past-day {
    background-color: #a9a9a9 !important;
}

.closed {
    color: #ff5555;
    font-weight: bold;
}

.register-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #ffcc00;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.register-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
